
@{
    ViewBag.Title = "QuoteThankYou";
}

<h2>Quote Request Complete</h2>

<h3>
    Thank you @ViewBag.CustomerName . Your request for a Quote on @ViewBag.AssayName has been recorded.
     Check your Quotes page to view the status of your Quotes.
</h3>



