
@{
    ViewBag.Title = "LabTech";
}

<h2>Select a task</h2>

<p style="padding-top:10px; font-family:Bahnschrift"><a href="@Url.Action("QuoteInbox", "Employee")" class="btn btn-primary btn-lg">View Quote Inbox&raquo;</a></p>
<p style="padding-top:10px; font-family:Bahnschrift"><a href="@Url.Action("NewCompound", "Employee")" class="btn btn-primary btn-lg">Record Received Compounds&raquo;</a></p>
<p style="padding-top:10px; font-family:Bahnschrift"><a href="@Url.Action("ResultsToSeattle", "Employee")" class="btn btn-primary btn-lg">Send Results to Seattle&raquo;</a></p>


