
@{
    ViewBag.Title = "Summ Report";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Summary Report</li>
    </ol>
</nav>

<h2 style="font-family:Bahnschrift; font-weight:500">New Summary Report</h2><h5 style="font-family:Bahnschrift; font-weight:500">Order Number:<b>32</b></h5>
<div class="col-md-12" style="padding-bottom:15px">
    <h4 style="font-family:Bahnschrift; font-weight:500">Significant findings</h4>
<textarea rows="7" cols="50">

</textarea>
</div>
<div class="col-md-12" style="padding-bottom:15px">
    <h4 style="font-family:Bahnschrift; font-weight:500">Correlations</h4>
<textarea rows="7" cols="50">

</textarea>
</div>

<div class="col-md-offset-2 col-md-10">
    <input value="Create Report" class="btn btn-success" />
</div>
